
.App {
    display: grid;
    background-color: rgb(162, 122, 69);
    grid-template-areas: "header header" "aside main";
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #659367;
    text-align: center;
    height: 150px;
    width: auto;
    grid-area: header;
}

.cohort-list {
    display: grid;
    background-color: rgb(162, 122, 69);
    grid-area: aside
}

.student-list {
display: grid;
background-color: rgb(89, 55, 12);
grid-area: main;
}